$fourRow: 1100px;
$twoRow: 600px;
$oneRow: 350px;
$logoBreak: 580px;
$logoAdjust: 450px;
$logoAdjustTwo: 350px;
a {
	text-decoration: none;
}
html {
	background-color:#044874;
}
	body {
		margin: 0px;
		font-family: raleway;
	}
.fallbackText {
	display: none;
}
.header {
	width:100%;
	background-color: #378ec7;
	border-bottom: 3px solid black;
	position: relative;
}	
	.headerLink{
		position:absolute; 
		width:100%;
		height:100%;
		top:0;
		left: 0;
		z-index: 1;
	}
	.logoOnePart {
		width: 100%;
	}
		.logoImg {
			width: 75%;
			margin-left: 25*.5%;
			padding-top: 10px;
			padding-bottom: 5px;
			@media (max-device-width: $logoBreak), (max-width: $logoBreak) {
				display: none;
			}
		}
	.logoThreePart {
		width: 100%;
		padding-top: 10px;
		display: none;
		@media (max-device-width: $logoBreak), (max-width: $logoBreak) {
			display: inline-table;
		}
	}   
		.logoLeft {
			width:30%;
			margin-left:5%;
			padding-top:10px;
			padding-bottom: 10px;
			float: left;
			height: 30px;
			@media (max-width: $logoAdjust) {
				width: 20%;
			}
			@media (max-device-width: $logoAdjust) {
				height: 90px;
				width: 25%;
			}
			@media (max-width: $logoAdjustTwo) {
				width: 15%;
			}
		}
		.logoText{
			float: left;
			font-size: 50px;
			color: white;
			width: 30%;
			text-align: center;
			margin-top: -5px;
			@media (max-width: $logoAdjust) {
				width: 50%;
			}
			@media (max-device-width: $logoAdjust) {
				font-size: 100px;	
				width: 40%;
			}
			@media (max-width: $logoAdjustTwo) {
				width: 60%;
			}
		}
		.logoRight {
			width:30%;
			margin-right:5%;
			padding-top:10px;
			padding-bottom: 10px;
			float: right;
			height: 30px;
			@media (max-width: $logoAdjust) {
				width: 20%;
			}
			@media (max-device-width: $logoAdjust) {
				height: 90px;
				width: 25%;
			}
			@media (max-width: $logoAdjustTwo) {
				width: 15%;
				
			}
		}
.content{
	width: 100%;
}
	.introMessage{
		width: 90%;
		margin-left: 5%; 
		margin-top: 30px;
		margin-bottom: 30px;
		text-align:center;
		color:white;
		font-size: 25px;
		@media (max-device-width: $twoRow) {
			font-size: 40px;
		}
		@media (max-device-width: $oneRow) {
			font-size: 50px;
		}
	}
		.boxContainer{
			width: 90%;
			margin-left: 5%;
		}
			.rowOne, .rowTwo {
				@media (max-device-width: $fourRow) {
					width: 100%;
					float: left;
				}
			}
			.box{
				position: relative;
				width: 17%;
				float: left;
				margin: 2%;
				padding: 2%;
				background-color: white;
				&:hover{
					background-color: #9eccea;
				}
				border-radius: 5px;
				@media (max-device-width: $fourRow), (max-width: $fourRow) {
					width: 17%;
				}
				@media (max-device-width: $twoRow), (max-width: $twoRow) {
					width: 40%;
					margin-left: 3.25%;
				}
				@media (max-device-width: $oneRow), (max-width: $oneRow) {
					width: 90%;
					font-size: 30px;
					margin-bottom: 10px;
				}
			}
				.boxLink{
					position:absolute; 
					width:100%;
					height:100%;
					top:0;
					left: 0;
					z-index: 1;
				}
				.boxImg{
					width: 100%;
					height: auto;
				}
				.boxText{
					text-align: center;
					font-size: 25px;
					color: black;
					@media (max-device-width: $twoRow) {
						font-size: 60px;
					}
					@media (max-device-width: $oneRow) {
						font-size: 100px;
					}

				}
.content {
	overflow: auto;
	padding-bottom: 100px;
	@media (max-device-width: $twoRow) {
		padding-bottom: 200px;
	}
}
.footer {
	position: relative;
	margin-top: -100px;
	width: 100%;
}
	.footerBox {
		background-color: #378ec7;
		border-top: 3px solid black;
		width: 100%;
		border-bottom: 3px solid black;
	}
		.buttonBox {
			margin-left: 10%;
			margin-right: 10%;
			text-align: center;
		}
			.button {
				display: inline-block;
				padding: 15px 30px;
				font-size: 18px;
				color: white;
				background: #0d4691;
				border: 2px solid #d1d1d1;
				border-radius: 5px;
				margin: 1em;
				margin-right: 1em;
				&:hover {
					$colorButton: #ffffff;
					background:  #742225;
					color: $colorButton;
					border: 2px solid $colorButton;
				}
				@media (max-device-width: $twoRow) {
					font-size: 70px;
					padding: 40px;
					margin: 20px;
				}
				@media (max-device-width: $oneRow) {
					font-size: 100px;
				}
			}
			.FAQ {
				color: black;
				background: #dddddd;
				border: 2px solid black;
				&:hover {
					background: #647b89;
					$colorFAQ: white;
					border: 2px solid $colorFAQ;
					color: $colorFAQ;
				}
			}
html, body {
	height: 100%;
}

.rowOfEight{
	width: 100%;
	float: left; 
	font-size: 12px;
	&.rowOfFour{
		width: 50%;
		margin: 0;
		padding: 0;
		float: left;
		&.rowOfTwo{
			width: 50%;
			margin: 0;
			padding: 0;
			float: left;
			&.box {
				width: 40%;
				&.boxText {
					font-size: 12px;	
				}
			}
		}
	}
}

